.clearfix:after{
	content: ".";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0;
}


@import 'mixins';
@import 'variables';

@import 'fonts';

/* Pages styles  */
@import 'home/home.scss'